<p id="notice"><%= notice %></p>

<h1><%= Person.model_name.human.pluralize %></h1>

<table>
  <thead>
    <tr>
      <th><%= Person.human_attribute_name(:name) %></th>
      <th><%= Person.human_attribute_name(:email) %></th>
      <th><%= Person.human_attribute_name(:born_at) %></th>
      <th><%= Person.human_attribute_name(:admin) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.born_at %></td>
        <td><%= person.admin %></td>
        <td><%= link_to 'Ver', person %></td>
        <td><%= link_to 'Editar', edit_person_path(person) %></td>
        <td><%= link_to 'Deletar', person, method: :delete, data: { confirm: "Tem certeza que deseja apagar #{person.name}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar pessoa', new_person_path %>
