<p id="notice"><%= notice %></p>

<p>
  <strong><%= Person.human_attribute_name(:name) %>:</strong>
  <%= @person.name %>
</p>

<p>
  <strong><%= Person.human_attribute_name(:email) %>:</strong>
  <%= @person.email %>
</p>

<p>
  <strong><%= Person.human_attribute_name(:password) %>:</strong>
  <%= @person.password %>
</p>

<p>
  <strong><%= Person.human_attribute_name(:born_at) %>:</strong>
  <%= @person.born_at %>
</p>

<p>
  <strong><%= Person.human_attribute_name(:admin) %>:</strong>
  <%= @person.admin %>
</p>

<%= link_to 'Editar', edit_person_path(@person.person) %> |
<%= link_to 'voltar', people_path %>
