<p id="notice"><%= notice %></p>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:published_at) %>:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:text) %>:</strong>
  <%= @book.text %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:value) %>:</strong>
  <%= @book.value %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:stock) %>:</strong>
  <%= @book.stock %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:person) %>:</strong>
  <%= @book.person %>
</p>

<p>
  <%= @book.image %>
</p>

<% if @book.categories.count > 0 %>
  <h2>Categorias</h2> 
  <ul>
    <% for category in @book.categories %> 
      <li><%= category.name %></li>
    <% end %> 
  </ul>
<% end %>

<%= link_to 'Editar', edit_book_path(@book) %> |
<%= link_to 'Voltar', books_path %>
