<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1>Interface de administração</h1> 
  </header>
  <nav>
    <ul>
      <li>
        <%= link_to "Pessoas", people_path %>
      </li>
    </ul>
  </nav>
  <section id="main">
    <%= yield %>
  </section>
  <footer>
    Desenvolvido a partir do livro, conhecendo o rails
  </footer>
  </body>
</html>
