<!DOCTYPE html>
<html> 
    <head>
        <title>Bookstore</title> 
        <%= csrf_meta_tags %> 
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%> 
    </head>
    <body> 
        <header>
            <h1>Título do layout público</h1> 
        </header>
        <nav>
            <ul>
                <li><%= link_to 'Home', '/' %></li>
            </ul> 
            <ul>
                <li><%= link_to 'Carrinho', cart_path %></li>
            </ul> 
        </nav>
        <section id="search">
            <%= label_tag :search_term, 'Buscar produtos' %> <%= text_field_tag :search_term, params[:term] %>
        </section>
        <section id="main"> 
            <%= yield %>
        </section> 
        <footer>
            Desenvolvido no ebook "Conhecendo Rails" 
        </footer>
        <script>
            $(document).ready(function () {
                $('#search_term').autocomplete({
                    source: function(request,response){
                        $.getJSON("busca/",{search: request.term},response)
                    },
                    dataType: 'json',
                    minLength: 3,
                    change: function (event, ui) {
                        console.log(event)
                        console.log(ui)
                        if (!ui.item) {
                            $('#search_term').val('');
                        }
                    },
                    select: function (event, ui) {
                        console.log(event)
                        console.log(ui)
                        if (ui.item) {
                            window.location.href = '/livro/' + ui.item.id;
                        }
                    }
                })
            })
        </script>
    </body>
</html>